@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-image: url(../img/bg.jpg);
    font-family: 'Space Grotesk', sans-serif;
}

div.logo {
    width: 100%;
}

.logo div,
.logoimg {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.name {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: yellow;
}

div.name:hover {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
    height: 100%;
    width: 100%;
    color: white;
    opacity: 1;
    transition: 0.5s;
}

h1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.487);
    padding: 0;
    margin: 0;
}